html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 10rem;
  height: 5rem;
  background-color: rgb(0, 182, 9);
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 300%;
  font-weight: 900;
  border: transparent;
}

button:hover {
  font-size: 350%;
}

button:active {
  transform: scale(0.75);
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(./svg/dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.mole1 {
  background: url("./svg/female2.svg") bottom center no-repeat;
  background-size: 60%;
}

.mole2 {
  background: url("./svg/male2.svg") bottom center no-repeat;
  background-size: 60%;
}

.mole3 {
  background: url("./svg/female1.svg") bottom center no-repeat;
  background-size: 60%;
}

.mole4 {
  background: url("./svg/male1.svg") bottom center no-repeat;
  background-size: 60%;
}

.mole5 {
  background: url("./svg/female3.svg") bottom center no-repeat;
  background-size: 60%;
}

.mole6 {
  background: url("./svg/male3.svg") bottom center no-repeat;
  background-size: 60%;
}

.hole.up .mole {
  top: 0;
}

.result {
  background: white;
  width: 40rem;
  height: 10rem;
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
}

.hide {
  display: none;
}
